:root{
    --cor-fundo: #1A1A1A ;
    --cor-principal: #8A2BE2 ;
    --cor-secundaria: #FFD700; 
    --cor-destaque: #2BDEFD;
    --cor-texto: #F5F5F5;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}